[tool.poetry]
name = "gridappsd-cim-models"
version = "0.1.0"
description = "CIM models used within gridappsd."
authors = ["C. Allwardt <3979063+craig8@users.noreply.github.com>"]
packages = [
    { include = "gridappsd_cim" }
]

[tool.poetry.dependencies]
python = "^3.8"
xsdata = "^22.5"
SPARQLWrapper = "^2.0.0"

[tool.poetry.dev-dependencies]
pre-commit = "^2.17.0"
xsdata = {extras = ["cli"], version = "^22.2"}
xsdata-plantuml = "^21.4"
graphviz = "^0.19.1"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
