[tool.poetry]
name = "gridappsd-cim-profile"
version = "0.7"
description = "CIM models used within gridappsd."
authors = ["C. Allwardt <3979063+craig8@users.noreply.github.com>"]
packages = [
    { include = "cimlab" }
]

[tool.poetry.dependencies]
python = ">=3.7.9,<4.0"
xsdata = "^22.5"
SPARQLWrapper = "^2.0.0"

gridappsd-python = { version="^2.2.2", optional=true}
# git = "https://github.com/GRIDAPPSD/gridappsd-python.git", branch = "cim-profile", optional = true }

[tool.poetry.extras]
gridappsd = ["gridappsd-python"]

[tool.poetry.group.dev.dependencies]
pre-commit = "^2.17.0"
xsdata = {extras = ["cli"], version = "^22.2"}
xsdata-plantuml = "^21.4"
graphviz = "^0.19.1"

[build-system]
requires = ["poetry-core>=1.2.0"]
build-backend = "poetry.core.masonry.api"
